In [1]:
#version de python
import sys
sys.version

'3.11.11 | packaged by conda-forge | (main, Dec  5 2024, 14:06:23) [MSC v.1942 64 bit (AMD64)]'

In [2]:
#version de pycaret
import pycaret
print(pycaret.__version__)

3.2.0

In [3]:
#version de mlflow
import mlflow
print(mlflow.__version__)

1.30.1

In [4]:
#changer de dossier
import os
os.chdir("C:/Users/lucie/venv")

In [5]:
import mlflow
import time
#importation de l'outil d'expérimentation de pycaret
from pycaret.classification import ClassificationExperiment
#mlflow.set_tracking_uri("file:///C:/Users/lucie/venv/mlruns")
mlflow.set_tracking_uri("http://127.0.0.1:5000")

In [6]:
#chargement des données 
import pandas as pd
data = pd.read_csv('Loan_Data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               10000 non-null  int64
 1   credit_lines_outstanding  10000 non-null  int64
 2   loan_amt_outstanding      10000 non-null  float64
 3   total_debt_outstanding    10000 non-null  float64
 4   income                    10000 non-null  float64
 5   years_employed            10000 non-null  int64
 6   fico_score                10000 non-null  int64
 7   default                   10000 non-null  int64
dtypes: float64(3), int64(5)
memory usage: 625.1 KB

In [7]:
import time
import mlflow
from pycaret.classification import ClassificationExperiment

# S'assurer que toute session MLflow précédente est fermée
if mlflow.active_run():
    mlflow.end_run()

# Démarrer la session primaire avec suivi MLflow
with mlflow.start_run(run_name="recherche_modele"):
    start_time = time.time()

    # Initialiser et configurer l'expérience
    session_prim = ClassificationExperiment()
    session_prim.setup(data, normalize=True, target='default', train_size=0.7,
                       data_split_stratify=True, fold=5, session_id=0,
                       log_experiment=True, experiment_name="recherche_modele")
    
    duration = time.time() - start_time
    mlflow.log_param("duration", duration)
    
    # Afficher les algorithmes disponibles
    algos = session_prim.models()
    print(algos)

    # Initialisation d'une liste vide avant la boucle
    top_models = []

    # Comparer et enregistrer la durée pour chaque modèle
    model_list = ['lr', 'nb', 'dt', 'rf', 'svm', 'lda']
    model_durations = {}

    for model in model_list:
        start_time = time.time()
        mdl = session_prim.create_model(model)
        duration = time.time() - start_time
        model_durations[model] = duration
        mlflow.log_param(f"duration_{model}", duration)
        top_models.append(mdl)  # Correction : on passe 'mdl' comme argument

        # Comparer et sélectionner les meilleurs modèles
        best_model = session_prim.compare_models(sort='Accuracy', include=model_list, verbose=True)
        print("Durées d'entraînement par modèle :", model_durations)
        # Extraire les résultats
        results = session_prim.pull()
        print(results)
        
        import os
        # Passer à MLflow 2.20.2
        os.system("conda activate theo1_env")
        #  Enregistrement du modèle "recherche-model" dans MLflow
        import mlflow.sklearn
        if hasattr(best_model, "estimators_"):
           best_model = best_model.estimators_[0]  # Prendre le premier modèle du pipeline
           mlflow.sklearn.log_model(best_model, "recherche-model")
           # Ajouter au registre MLflow
           mlflow.register_model(f"runs:/{mlflow.active_run().info.run_id}/recherche-model", "recherche-model")
        
           # Revenir à MLflow 1.30.1
           os.system("conda activate theo_env")
# Fin explicite de la session (facultatif ici car le 'with' gère la fermeture)
mlflow.end_run()

2025/02/25 08:49:26 INFO mlflow.tracking.fluent: Experiment with name 'recherche_modele' does not exist. Creating a new experiment.

                                     Name  \
ID
lr                    Logistic Regression
knn                K Neighbors Classifier
nb                            Naive Bayes
dt               Decision Tree Classifier
svm                   SVM - Linear Kernel
rbfsvm                SVM - Radial Kernel
gpc           Gaussian Process Classifier
mlp                        MLP Classifier
ridge                    Ridge Classifier
rf               Random Forest Classifier
qda       Quadratic Discriminant Analysis
ada                  Ada Boost Classifier
gbc          Gradient Boosting Classifier
lda          Linear Discriminant Analysis
et                 Extra Trees Classifier
lightgbm  Light Gradient Boosting Machine
dummy                    Dummy Classifier

                                                  Reference  Turbo
ID
lr        sklearn.linear_model._logistic.LogisticRegression   True
knn       sklearn.neighbors._classification.KNeighborsCl...   True
nb                           sklearn.naive_bayes.GaussianNB   True
dt             sklearn.tree._classes.DecisionTreeClassifier   True
svm       sklearn.linear_model._stochastic_gradient.SGDC...   True
rbfsvm                             sklearn.svm._classes.SVC  False
gpc       sklearn.gaussian_process._gpc.GaussianProcessC...  False
mlp       sklearn.neural_network._multilayer_perceptron....  False
ridge           sklearn.linear_model._ridge.RidgeClassifier   True
rf          sklearn.ensemble._forest.RandomForestClassifier   True
qda       sklearn.discriminant_analysis.QuadraticDiscrim...   True
ada       sklearn.ensemble._weight_boosting.AdaBoostClas...   True
gbc         sklearn.ensemble._gb.GradientBoostingClassifier   True
lda       sklearn.discriminant_analysis.LinearDiscrimina...   True
et            sklearn.ensemble._forest.ExtraTreesClassifier   True
lightgbm                    lightgbm.sklearn.LGBMClassifier   True
dummy                         sklearn.dummy.DummyClassifier   True

Durées d'entraînement par modèle : {'lr': 10.157962560653687}
                            Model  Accuracy     AUC  Recall   Prec.      F1  \
lr            Logistic Regression    0.9976  1.0000  0.9884  0.9984  0.9934
svm           SVM - Linear Kernel    0.9969  0.0000  0.9892  0.9939  0.9914
dt       Decision Tree Classifier    0.9943  0.9914  0.9869  0.9824  0.9846
rf       Random Forest Classifier    0.9939  0.9998  0.9807  0.9861  0.9834
lda  Linear Discriminant Analysis    0.9787  0.9997  0.9992  0.8976  0.9457
nb                    Naive Bayes    0.9721  0.9973  0.9722  0.8880  0.9282

      Kappa     MCC  TT (Sec)
lr   0.9919  0.9919     1.142
svm  0.9895  0.9896     0.036
dt   0.9811  0.9811     0.026
rf   0.9796  0.9796     0.270
lda  0.9325  0.9346     0.032
nb   0.9109  0.9124     0.026

Durées d'entraînement par modèle : {'lr': 10.157962560653687, 'nb': 1.637826919555664}
                            Model  Accuracy     AUC  Recall   Prec.      F1  \
lr            Logistic Regression    0.9976  1.0000  0.9884  0.9984  0.9934
svm           SVM - Linear Kernel    0.9969  0.0000  0.9892  0.9939  0.9914
dt       Decision Tree Classifier    0.9943  0.9914  0.9869  0.9824  0.9846
rf       Random Forest Classifier    0.9939  0.9998  0.9807  0.9861  0.9834
lda  Linear Discriminant Analysis    0.9787  0.9997  0.9992  0.8976  0.9457
nb                    Naive Bayes    0.9721  0.9973  0.9722  0.8880  0.9282

      Kappa     MCC  TT (Sec)
lr   0.9919  0.9919     0.042
svm  0.9895  0.9896     0.032
dt   0.9811  0.9811     0.038
rf   0.9796  0.9796     0.290
lda  0.9325  0.9346     0.024
nb   0.9109  0.9124     0.032

Durées d'entraînement par modèle : {'lr': 10.157962560653687, 'nb': 1.637826919555664, 'dt': 2.0386698246002197}
                            Model  Accuracy     AUC  Recall   Prec.      F1  \
lr            Logistic Regression    0.9976  1.0000  0.9884  0.9984  0.9934
svm           SVM - Linear Kernel    0.9969  0.0000  0.9892  0.9939  0.9914
dt       Decision Tree Classifier    0.9943  0.9914  0.9869  0.9824  0.9846
rf       Random Forest Classifier    0.9939  0.9998  0.9807  0.9861  0.9834
lda  Linear Discriminant Analysis    0.9787  0.9997  0.9992  0.8976  0.9457
nb                    Naive Bayes    0.9721  0.9973  0.9722  0.8880  0.9282

      Kappa     MCC  TT (Sec)
lr   0.9919  0.9919     0.034
svm  0.9895  0.9896     0.024
dt   0.9811  0.9811     0.028
rf   0.9796  0.9796     0.252
lda  0.9325  0.9346     0.024
nb   0.9109  0.9124     0.022

Durées d'entraînement par modèle : {'lr': 10.157962560653687, 'nb': 1.637826919555664, 'dt': 2.0386698246002197, 'rf': 4.752106666564941}
                            Model  Accuracy     AUC  Recall   Prec.      F1  \
lr            Logistic Regression    0.9976  1.0000  0.9884  0.9984  0.9934
svm           SVM - Linear Kernel    0.9969  0.0000  0.9892  0.9939  0.9914
dt       Decision Tree Classifier    0.9943  0.9914  0.9869  0.9824  0.9846
rf       Random Forest Classifier    0.9939  0.9998  0.9807  0.9861  0.9834
lda  Linear Discriminant Analysis    0.9787  0.9997  0.9992  0.8976  0.9457
nb                    Naive Bayes    0.9721  0.9973  0.9722  0.8880  0.9282

      Kappa     MCC  TT (Sec)
lr   0.9919  0.9919     0.026
svm  0.9895  0.9896     0.034
dt   0.9811  0.9811     0.026
rf   0.9796  0.9796     0.252
lda  0.9325  0.9346     0.028
nb   0.9109  0.9124     0.026

Durées d'entraînement par modèle : {'lr': 10.157962560653687, 'nb': 1.637826919555664, 'dt': 2.0386698246002197, 'rf': 4.752106666564941, 'svm': 2.6197047233581543}
                            Model  Accuracy     AUC  Recall   Prec.      F1  \
lr            Logistic Regression    0.9976  1.0000  0.9884  0.9984  0.9934
svm           SVM - Linear Kernel    0.9969  0.0000  0.9892  0.9939  0.9914
dt       Decision Tree Classifier    0.9943  0.9914  0.9869  0.9824  0.9846
rf       Random Forest Classifier    0.9939  0.9998  0.9807  0.9861  0.9834
lda  Linear Discriminant Analysis    0.9787  0.9997  0.9992  0.8976  0.9457
nb                    Naive Bayes    0.9721  0.9973  0.9722  0.8880  0.9282

      Kappa     MCC  TT (Sec)
lr   0.9919  0.9919     0.026
svm  0.9895  0.9896     0.024
dt   0.9811  0.9811     0.024
rf   0.9796  0.9796     0.274
lda  0.9325  0.9346     0.026
nb   0.9109  0.9124     0.022

Durées d'entraînement par modèle : {'lr': 10.157962560653687, 'nb': 1.637826919555664, 'dt': 2.0386698246002197, 'rf': 4.752106666564941, 'svm': 2.6197047233581543, 'lda': 3.470503807067871}
                            Model  Accuracy     AUC  Recall   Prec.      F1  \
lr            Logistic Regression    0.9976  1.0000  0.9884  0.9984  0.9934
svm           SVM - Linear Kernel    0.9969  0.0000  0.9892  0.9939  0.9914
dt       Decision Tree Classifier    0.9943  0.9914  0.9869  0.9824  0.9846
rf       Random Forest Classifier    0.9939  0.9998  0.9807  0.9861  0.9834
lda  Linear Discriminant Analysis    0.9787  0.9997  0.9992  0.8976  0.9457
nb                    Naive Bayes    0.9721  0.9973  0.9722  0.8880  0.9282

      Kappa     MCC  TT (Sec)
lr   0.9919  0.9919     0.026
svm  0.9895  0.9896     0.022
dt   0.9811  0.9811     0.028
rf   0.9796  0.9796     0.240
lda  0.9325  0.9346     0.024
nb   0.9109  0.9124     0.022